* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f2b656, #ed942f);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
